body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:180px;
  width:590px;
  height:17px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:310px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:90px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7 {
  position:absolute;
  left:350px;
  top:490px;
  width:218px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:367px;
  top:496px;
  width:25px;
  height:26px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:408px;
  top:500px;
  width:161px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:18px;
  width:782px;
  height:25px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:788px;
  height:31px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:134px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:138px;
  top:0px;
  width:198px;
  height:25px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:194px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:336px;
  top:0px;
  width:197px;
  height:25px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:193px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:533px;
  top:0px;
  width:143px;
  height:25px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:676px;
  top:0px;
  width:106px;
  height:25px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:5px;
  width:150px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:570px;
  width:1000px;
  height:150px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
}
#u30 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:40px;
  top:600px;
  width:172px;
  height:60px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:263px;
  top:600px;
  width:153px;
  height:58px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:58px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:761px;
  top:600px;
  width:55px;
  height:70px;
  font-size:11px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:70px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
